<mat-toolbar color="primary">
    <!-- <button mat-icon-button *ngIf="responsive">
        <mat-icon class="actions">menu</mat-icon>
    </button> -->
    <h1 routerLink="/">Rick and Morty World</h1>
    <div class="separator"></div>
    <span routerLink="/">Inicio</span>
    <span routerLink="locations">Ubicaciones</span>
    <span routerLink="favorites">Mis Favoritos</span>
    <button mat-icon-button>
        <mat-icon class="actions" routerLink="/favorites">favorite</mat-icon>
    </button>
</mat-toolbar>