<div class="favorites--container">
    <h1>Mis personajes favoritos de Rick and Morty</h1>
    <div class="favorites">
        <div class="favorite--card" *ngFor="let character of favoriteList">
            <app-character-card
                class="character--card"
                [character]="character"
                (viewCharacter)="submitCharacter($event)"
            ></app-character-card>
        </div>
    </div>
</div>

<div *ngIf="activeSummary" class="backgroundDark" (click)="toggleSummary()" [class.active]="activeSummary"></div>
<app-character-summary [class.active]="activeSummary"></app-character-summary>
