<section *ngIf="await" class="spinner-container">
    <mat-spinner></mat-spinner>
</section>
<div class="container" *ngIf="!await">

    <app-paginator
        [pagination]="pagination"
        [characterCount]="characterCount"
        (directionPages)="paginator($event)"
    ></app-paginator>

    <section class="character--container">
        <div class="characters" *ngFor="let character of characters">
            <app-character-card 
                class="character--card" 
                [character]="character"
                (viewCharacter)="submitCharacter($event)"
            ></app-character-card>
        </div>
    </section>

    <app-paginator
        [pagination]="pagination"
        [characterCount]="characterCount"
        (directionPages)="paginator($event)"
    ></app-paginator>

    <div class="backgroundDark" (click)="toggleSummary()" [class.active]="activeSummary"></div>
    <app-character-summary [class.active]="activeSummary"></app-character-summary>
</div>