.spinner-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character--container {
    width: 100%;
    max-width: 1250px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.message {
  text-align: center;
}

.characters:hover {
    transform: translateY(-5px);
}

.backgroundDark {
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: fixed;
    &.active {
      z-index: 1;
      top: 0;
    }
}

app-character-summary {
    position: fixed;
    right: 0;
    z-index: 2;
    top: 0;
    &.active {
        transform: translateX(0%);
    }
    transition: all ease-out .5s;
    transform: translateX(100%);
}

@media screen and (max-width: 768px) {
    .character--container {
        padding: 0px;
    }
}
