.spinner-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character--container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.characters {
    margin-top: 20px;
    &:hover {
        transform: translateY(-5px);
    }
}

.backgroundDark {
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: fixed;
    &.active {
      z-index: 1;
      top: 0;
    }
}

app-character-summary {
    position: fixed;
    right: 0;
    &.active {
        transform: translateX(0%);
        z-index: 2;
        top: 0;
    }
    transition: all ease-out .5s;
    transform: translateX(100%);
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    span {
        margin-top: 5px
    };
}