.character--container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 14%), 0px 2px 10px rgb(0 0 0 / 12%), 0px 1px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 230px;
    height: auto;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.header {
    width: 100%;
    padding: 5px;
    display: flex;
    
    align-items: center;

    .name {
        flex: 1 1 auto;
    }

    .favoriteIcon {
        color: rgb(184, 115, 90);
    }
}

h1 {
    margin: 0px;
    font-size: 1em;
    text-align: center;
}

span {
    font-size: 0.9em;
}

.image {
    width: 80%;
    margin: 5px;
}

.summary {
    font-weight: 400;
    font-size: 1em;
}

.detail {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.alive, .notAlive {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: auto;
    border-radius: 5px;
    color: white;
}

.alive {
    background-color: green;
}

.notAlive {
    background-color: grey;
}