<div class="character--container">
    <div class="header">
        <h1 class="name">{{ character.name }}</h1>
        <div class="separator-favorite"></div>
        <button mat-icon-button>
            <mat-icon class="favoriteIcon" (click)="addFavorite()">favorite</mat-icon>
        </button>
    </div>
    <img class="image" src="{{ character.image }}" alt="{{ character.name }}" (click)="viewCharacterEmitter()">
    <div class="detail">
        <span>{{ character.species | translate }}</span>
        <span [ngClass]="{
            'alive': character.status.toLowerCase().includes('alive'),
            'notAlive': !character.status.toLowerCase().includes('alive')
        }">
            {{ character.status | translate }}
        </span>
    </div>
    <button mat-flat-button color="basic"><span class="summary" (click)="viewCharacterEmitter()">Saber más</span></button>
</div>
