<div class="container">
    <div class="background-img">
        <div class="universe"></div>
        <div class="wrapper">
            <div class="img-wrapper">
                <span>44</span>
            </div>
            <p>Esta intentando acceder a una seccion desconocida del universo,
                <br>Por favor, desvie su transportador a otro lugar.
            </p>
            <button mat-raised-button color="primary" routerLink="/">Ir a Inicio</button>
        </div>
    </div>
</div>